<form [formGroup]="filters">
    <!-- <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
    <div nz-col nzSpan="3">From Statp</div>
    <div nz-col nzSpan="10">
        <nz-slider [nzMin]="2013" [nzMax]="2019" nzRange></nz-slider>
    </div>
    <div nz-col nzSpan="3">To Statp</div>
</div> -->
    <div nz-row nzType="flex" nzJustify="start" nzGutter="8">
        <div nz-col>
            <!-- <nz-button-group>
                <button nz-button nz-dropdown [nzDropdownMenu]="surveyMenu" nzPlacement="bottomRight">
                    Surveys
                    <i nz-icon nzType="book"></i>
                </button>
            </nz-button-group>
            <nz-dropdown-menu #surveyMenu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item>SAS</li>
                    <li nz-menu-item>QSS</li>
                    <li nz-menu-item>M3</li>
                </ul>
            </nz-dropdown-menu> -->
            <nz-select formControlName="survey" style="width: 120px">
                <nz-option [nzLabel]="'SAS'" [nzValue]="'SAS'"></nz-option>
                <nz-option [nzLabel]="'QSS'" [nzValue]="'QSS'"></nz-option>
                <nz-option [nzLabel]="'M3'" [nzValue]="'M3'"></nz-option>
            </nz-select>
        </div>
        <div nz-col>
            <nz-input-group nzCompact>
                <nz-select formControlName="from" nzPlaceHolder="From Statp" style="width: 120px">
                    <nz-option [nzLabel]="'2014'" [nzValue]="'2014'"></nz-option>
                    <nz-option [nzLabel]="'2015'" [nzValue]="'2015'"></nz-option>
                    <nz-option [nzLabel]="'2016'" [nzValue]="'2016'"></nz-option>
                    <nz-option [nzLabel]="'2017'" [nzValue]="'2017'"></nz-option>
                    <nz-option [nzLabel]="'2018'" [nzValue]="'2018'"></nz-option>
                </nz-select>

                <input type="text" disabled nz-input placeholder="~"
                    style="width: 35px; pointer-events: none; background-color: rgb(255, 255, 255);" />

                <nz-select formControlName="to" nzPlaceHolder="To Statp" style="width: 120px;">
                    <nz-option [nzLabel]="'2014'" [nzValue]="'2014'"></nz-option>
                    <nz-option [nzLabel]="'2015'" [nzValue]="'2015'"></nz-option>
                    <nz-option [nzLabel]="'2016'" [nzValue]="'2016'"></nz-option>
                    <nz-option [nzLabel]="'2017'" [nzValue]="'2017'"></nz-option>
                    <nz-option [nzLabel]="'2018'" [nzValue]="'2018'"></nz-option>
                </nz-select>
            </nz-input-group>
        </div>
        <div nz-col>
            <button nz-button nz-popover [nzPopoverContent]="naicsTemplate" nzPopoverTrigger="click" nzShape="round"
                nzPopoverPlacement="bottomLeft">
                NAICS
            </button>
        </div>
        <div nz-col>
            <steps-item-filter formControlName="items"></steps-item-filter>
        </div>
        <div nz-col>
            <button nz-button nz-popover [nzPopoverContent]="topicTemplate" nzPopoverTrigger="click" nzShape="round"
                nzPopoverPlacement="bottomLeft">
                Topic/Subtopic
            </button>
        </div>
        <!-- <div nz-col>
            <button nz-button nz-popover [nzPopoverContent]="itemTemplate" nzPopoverTrigger="click" nzShape="round"
                nzPopoverPlacement="bottomLeft">
                Item Type
            </button>
            <ng-template #itemTemplate>
                <nz-list nzBordered nzSize="small">
                    <nz-list-item>Item 1</nz-list-item>
                    <nz-list-item>Item 2</nz-list-item>
                    <nz-list-item>Item 3</nz-list-item>
                </nz-list>
            </ng-template>
        </div>
        <div nz-col>
            <button nz-button nz-popover [nzPopoverContent]="dataTypeTemplate" nzPopoverTrigger="click" nzShape="round"
                nzPopoverPlacement="bottomLeft">
                Data Type
            </button>
            <ng-template #dataTypeTemplate>
                Is Data Type Numeric?
                <nz-switch [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
                <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
            </ng-template>
        </div> -->
    </div>

    <ng-template #naicsTemplate>
        <!-- <div>
            <nz-radio-group formControlName="naics">
                <label nz-radio [nzValue]="789575">789575</label>
                <br />
                <label nz-radio [nzValue]="684748">684748</label>
                <br />
            </nz-radio-group>
        </div> -->


        <!-- <nz-input-group nzCompact style="width: 250px; display: inline-block">
        <nz-select style="width:30%">
            <nz-option [nzLabel]="'001'" [nzValue]="'001'"></nz-option>
            <nz-option [nzLabel]="'002'" [nzValue]="'002'"></nz-option>
            <nz-option [nzLabel]="'003'" [nzValue]="'003'"></nz-option>
            <nz-option [nzLabel]="'004'" [nzValue]="'004'"></nz-option>
        </nz-select>
        <input type="text" nz-input style="width:70%"/>
    </nz-input-group> -->
        <steps-naics-filter formControlName="naics"></steps-naics-filter>
    </ng-template>
</form>





<ng-template #topicTemplate>
    <div style="border-bottom: 1px solid rgb(233, 233, 233);">
        <label nz-checkbox [(ngModel)]="topicOneAllChecked" (ngModelChange)="updateTopicOneAllChecked()"
            [nzIndeterminate]="topicOneIndeterminate">
            Topic 1
        </label>
    </div>
    <br />
    <nz-checkbox-group [(ngModel)]="topicOne" (ngModelChange)="updateTopicOneSingleChecked()"></nz-checkbox-group>
    <br /><br />
    <div style="border-bottom: 1px solid rgb(233, 233, 233);">
        <label nz-checkbox [(ngModel)]="topicTwoAllChecked" (ngModelChange)="updateTopicTwoAllChecked()"
            [nzIndeterminate]="topicTwoIndeterminate">
            Topic2
        </label>
    </div>
    <br />
    <nz-checkbox-group [(ngModel)]="topicTwo" (ngModelChange)="updateTopicTwoSingleChecked()"></nz-checkbox-group>
    <nz-divider></nz-divider>
    <button nz-button nzType="link">Clear</button>
    <button nz-button nzType="primary">Save</button>
</ng-template>