<!-- <nz-input-group [nzSuffix]="suffixIconSearch">
    <input type="text" nz-input placeholder="Search" />
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
</nz-input-group> -->
<!-- <button nz-button nzType="primary">Browse</button> -->
<!-- <div nz-row nzType="flex" nzJustify="start"> -->
    <!-- <div nz-col>
        <nz-upload nzAction="http://127.0.0.1:4200/fake" 
            [nzShowUploadList]="false"
            nzListType="picture-card" (nzChange)="hanldeUploadChange($event)">
            <i nz-icon nzType="plus"></i>
            <div class="upload-text">Upload</div>
        </nz-upload>
    </div> -->
    <!-- <div nz-col> -->
            <!-- [nzAddOnAfter]="addOnAfterTemplate" -->
            <!-- height: 104px; -->
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input nz-input [formControl]="searchControl"
                placeholder="Search"
                [nzAutocomplete]="auto"/>
            <!-- (input)="onInput($event.target?.value)" -->

        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch>
            <i nz-icon nzType="search" nzTheme="outline"></i>
            </button>
        </ng-template>
        <nz-autocomplete nzBackfill #auto>
            <nz-auto-optgroup [nzLabel]="groupTitle">
                <ng-template #groupTitle>
                    <span>SERIES NAMES</span>
                    <span style="float:right">{{filteredSeries.length}} matches</span>
                </ng-template>
                <nz-auto-option *ngFor="let seriesName of filteredSeries" [nzValue]="seriesName.value" [innerHTML]="seriesName.label">
                </nz-auto-option>
            </nz-auto-optgroup>
        </nz-autocomplete>
        
        <!-- <ng-template #addOnAfterTemplate>
            <button nz-button nzType="link" (click)="download()"
                nz-tooltip
                nzTooltipTitle="Click to download a list of series names in comma-delimited format.">
                <i nz-icon nzType="download"></i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="link" (click)="addToFavorites()"
                nz-tooltip
                nzTooltipTitle="Click to save the currently searched series names to your favorites.">
                <i nz-icon nzType="save"></i>
            </button>
            <nz-modal [(nzVisible)]="confirmAddToFavorites" nzTitle="How would you like to call this list?"
                (nzOnOk)="addToFavoritesOK()" (nzOnCancel)="addToFavoritesCancel()">
                <input type="text" nz-input placeholder="Enter list name here" [(ngModel)]="listName"/>
            </nz-modal>
        </ng-template> -->
    <!-- </div> -->
    <!-- <div nz-col>
        <button nz-button nzShape="round" nzType="primary">
            <i nz-icon nzType="download"></i>
        </button>
    </div> -->
<!-- </div> -->