<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nzPlacement="right">
                <i nz-icon nzType="dashboard"></i>
                <span>Dashboard</span>
            </li>
            <li nz-menu-item nzPlacement="right">
                <i nz-icon nzType="profile"></i>
                <span>Profile</span>
            </li>
            <li nz-menu-item nzPlacement="right">
                <i nz-icon nzType="mail"></i>
                <span>Mail</span>
            </li>
            <li nz-menu-item nzPlacement="right">
                <i nz-icon nzType="setting"></i>
                <span>Setting</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <!-- <nz-page-header>
            <nz-page-header-title> -->
            <div nz-row nzType="flex" nzJustify="space-between">
                <div nz-col>
                    <i nz-icon class="trigger" [nzType]="isCollapsed? 'menu-unfold': 'menu-fold'"
                        (click)="toggleCollapsed()"></i>
                </div>
                <div nz-col>
                    <steps-favorites-page></steps-favorites-page>
                    <button nz-button>Logout</button>
                </div>
            </div>


            <!-- TSAR POC
            </nz-page-header-title>

            <nz-page-header-extra>
                <button nz-button>Logout</button>
            </nz-page-header-extra>
        </nz-page-header> -->
        </nz-header>

        <nz-content style="min-width: 1080px">
            <nz-breadcrumb>
                <nz-breadcrumb-item>StEPS</nz-breadcrumb-item>
                <nz-breadcrumb-item>TSAR</nz-breadcrumb-item>
            </nz-breadcrumb>
            <section class="inner-content">
                <app-filters></app-filters>
                <nz-divider></nz-divider>
                <app-search></app-search>
                <div style="display: flex; justify-content: center; width: 980px">
                    <button nz-button nzType="primary" nzGhost (click)="search()">Search</button>
                </div>

                <nz-tabset>
                    <nz-tab [nzTitle]="titleTemplate1">
                        <ng-template #titleTemplate1><i nz-icon nzType="table"></i>Table View</ng-template>

                        <div nz-row nzType="flex" nzJustify="space-between">
                            <div nz-col>
                                <div nz-row>
                                    <h3 nz-title style="display: inline">{{count$ | async}} Results </h3>
                                    <span nz-text nzType="secondary" style="font-size: 22px;">Matching Criteria</span>
                                </div>
                            </div>
                            <div nz-col>
                                <nz-radio-group [(ngModel)]="isExpanded" style="margin-right: 5px">
                                    <label nz-radio-button nzValue="C"><i nz-icon [nzType]="'menu'"></i> Collapsed View</label>
                                    <label nz-radio-button nzValue="E"><i nz-icon [nzType]="'appstore'"></i> Expanded View</label>
                                </nz-radio-group>

                                <nz-button-group>
                                    <button nz-button>Download</button>
                                    <button nz-button nz-dropdown [nzDropdownMenu]="downloadMenu" nzPlacement="bottomRight">
                                        <i nz-icon nzType="download"></i>
                                    </button>
                                </nz-button-group>
                                <nz-dropdown-menu #downloadMenu="nzDropdownMenu">
                                    <ul nz-menu>
                                      <li nz-menu-item (click)="exportSeriesTable('csv')"><i nz-icon nzType="file-text" nzTheme="outline"></i> CSV</li>
                                      <li nz-menu-item (click)="exportSeriesTable('xlsx')"><i nz-icon nzType="file-excel" nzTheme="outline"></i> Excel</li>
                                      <li nz-menu-item (click)="exportSeriesTable('xlsx')"><i nz-icon nzType="file-pdf" nzTheme="outline"></i> PDF</li>
                                      
                                    </ul>
                                </nz-dropdown-menu>
                            </div>
                        </div>

                        <nz-table #seriesTable [nzData]="seriesList$ | async" nzSize="small" id="seriesTable" style="margin-top: 5px">
                            <thead>
                                <tr>
                                    <th>Series</th>
                                    <!-- <th>Item Type</th> -->
                                    <th>2015A1</th>
                                    <th>2016A1</th>
                                    <th>2017A1</th>
                                    <th>2018A1</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-template ngFor let-series [ngForOf]="seriesTable.data">
                                    <tr>
                                        <td>
                                            <nz-tag *ngIf="series.item_type=='CV'" [nzColor]="'geekblue'">{{series.item_type}}</nz-tag> 
                                            <nz-tag *ngIf="series.item_type=='EST'" [nzColor]="'orange'">{{series.item_type}}</nz-tag> 
                                            <nz-tag *ngIf="series.item_type=='IMP'" [nzColor]="'green'">{{series.item_type}}</nz-tag> 
                                            <nz-tag *ngIf="series.item_type=='SE'" [nzColor]="'purple'">{{series.item_type}}</nz-tag> 
                                            <nz-tag *ngIf="series.item_type=='YY'" [nzColor]="'cyan'">{{series.item_type}}</nz-tag> 
                                            {{series.name}}
                                        </td>
                                        <!-- <td>{{series.item_type}}</td> -->
                                        <td>{{series.val2015a1}}</td>
                                        <td>{{series.val2016a1}}</td>
                                        <td>{{series.val2017a1}}</td>
                                        <td>{{series.val2018a1}}</td>
                                    </tr>
                                    <tr [nzExpand]="isExpanded=='E'? true: false">
                                        <td colspan="5">
                                            <!-- <div nz-text><strong>Item Type: </strong>{{series.item_type}}</div> -->
                                            <!-- <span> | </span> -->
                                            <div nz-text><strong>Topic: </strong>{{series.topic}}</div>
                                            <!-- <span> | </span> -->
                                            <div nz-text><strong>Flag: </strong>{{series.flag}}</div>
                                            <!-- <span> | </span> -->
                                            <div nz-text><strong>Naics: </strong>{{series.naics}}</div>
                                            <!-- <span> | </span> -->
                                            <div nz-text><strong>Item: </strong>{{series.item}}</div>
                                            <!-- <span> | </span> -->
                                            <span nz-text><strong>Data Type: </strong>{{series.data_type}}</span>
                                            <span> | </span>
                                            <span nz-text><strong>Form: </strong>{{series.form}}</span>
                                            <span> | </span>
                                            <span nz-text><strong>Table: </strong>{{series.tbl}}</span>
                                            <span> | </span>
                                            <span nz-text><strong>View: </strong>{{series.view}}</span>
                                            <span> | </span>
                                            <span nz-text><strong>Last Updated: </strong>{{series.last_updated}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                                
                            </tbody>
                        </nz-table>
                    </nz-tab>
                    <nz-tab [nzTitle]="titleTemplate2">
                        <ng-template #titleTemplate2><i nz-icon nzType="area-chart"></i>Graph View</ng-template>
                        <steps-series-graph [series]="seriesList$ | async"></steps-series-graph>
                    </nz-tab>
                </nz-tabset>
            </section>
        </nz-content>
        <nz-footer>US Census Bureau @2019 TSAR POC Implement by Angular v0.0.1</nz-footer>
    </nz-layout>
</nz-layout>